aa_seq MGVHECPAWLWLLLSLLSLPLGLPVLGAPPRLICDSRVLERYLLEAKEAENITTGCAEHCSLNENITVPDTDVNFYAWKRMEVGQQAVEVWQGLALLSEAVLRGQALLVNSSQPWEPLQLHVDKAVSGLRSLTTLLRALGAQKEAISPPDAASAAPLRTITADTFRKLFRVYSNFLAGKLKLYTGEACRTGDR
parallel true
lambda 1.0
subopt_randomness 0.0
num_subopt_traces 100
forced_codon 0 AUG
banned_codon 1 GGG
banned_codon 2 GUG
banned_codon 3 CAC
banned_codon 5 UGU
forced_codon 7 GCG
